.welcome-btn {
  overflow: visible;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 34px;
  width: 100px;
  color: #fff;
  background-color: #23c4eb;
  border-radius: 4px;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
  -webkit-transition: background-color .15s linear;
}

.welcome-btn:hover,
.welcome-btn:focus,
.welcome-btn.focus {
  background-color: #20B0D4;
  color: #fff;
}
