.site-section {
  background-color: #222;
  margin: 0px;
  text-align: center;
}

.site-section h2 {
  margin-top: 0px;
  padding: 10px;
  color: #e7e7e7;
}

.site-section p {
  margin-bottom: 0px;
  padding: 5px;
  color: #e7e7e7;
}

footer {
  background-color: #222;
  color: #e7e7e7;

}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
