.site-section {
  background-color: #232323;
  margin: 0px;
  text-align: center;
}

.site-section h1 {
  margin-top: 0px;
  padding: 10px;
  color: #e7e7e7;
  font-size: 75px;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.site-section h2 {
  margin-top: 0px;
  padding: 10px;
  color: #e7e7e7;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.site-section p {
  margin-bottom: 0px;
  padding: 5px;
  color: #FFFFFF;
  border: 1px solid currentColor;
    border-top-color: currentcolor;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.site-description {
  padding-top: 150px;
  text-align: center;
}

.site-description h1 {
  margin-top: 0px;
  padding: 10px;
  color: #e7e7e7;
  font-size: 75px;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.site-description h2 {
  margin-top: 0px;
  padding: 10px;
  color: #ffffff;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.site-description p {
  margin-bottom: 0px;
  padding: 5px;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid currentColor;
    border-top-color: currentcolor;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

footer {
  background-color: #000;
  color: #e7e7e7;

}
footer p {
  padding: 20px;
  margin: 0px
}

.navbar-default .navbar-transparent {
  background-color: #666;
  background-color: rgba(0,0,0,0.6);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(0,0,0,0.6);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(0,0,0,0.6);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
