<header id="js-navbar" class="navbar navbar-default navbar-fixed-top navbar-semi-transparent navbar-highlight-aquamarine" role="banner">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="sidepanel" data-target="#navbar-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="https://www.spotify.com/login?continue=https%3A%2F%2Fwww.spotify.com%2Fus%2Faccount%2Foverview%2F" class="user-link hidden ">

                <div class="user-icon-container img-circle navbar-user-img">
                    <svg class="user-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user-icon">
                        </use>
                    </svg>
                </div>


            </a>
            <a class="navbar-brand" href="/us/">
                <span class="navbar-logo">Spotify</span>
            </a>
        </div>
        <nav class="collapse navbar-collapse" id="navbar-nav" role="navigation">

            <ul class="nav navbar-nav navbar-right nav-main">


                <li class="hidden ">
                    <a href="/us/explore/" id="nav-link-Explore" data-ga-category="menu" data-ga-action="Explore">
      Explore
                </a>
                </li>


                <li>
                    <a href="/us/premium/?checkout=false" id="nav-link-premium" data-ga-category="menu" data-ga-action="premium">
      Premium
                </a>
                </li>


                <li>
                    <a href="https://support.spotify.com/?utm_source=www.spotify.com&amp;utm_medium=www_header" id="nav-link-help" data-ga-category="menu" data-ga-action="help">
      Help
                </a>
                </li>



                <li>
                    <a href="/us/download/" id="nav-link-download" class="js-goto-signup js-get-spotify js-gtm-event" data-ga-category="menu" data-ga-action="download" data-gtm-event-name="download_spotify_button_clicked" data-tracking="{&quot;category&quot;: &quot;download&quot;, &quot;action&quot;: &quot;download start&quot;, &quot;label&quot;: &quot;download-navbar&quot;}">Download
   </a>
                </li>

                <li role="separator" class="divider"></li>




                <li class="alternate sidepanel-item-small ">
                    <a href="/us/signup/" id="nav-link-sign_up" data-ga-category="menu" data-ga-action="sign_up">
      Sign up
                </a>
                </li>

                <li class="alternate sidepanel-item-small">
                    <a href="https://www.spotify.com/login?continue=https%3A%2F%2Fwww.spotify.com%2Fus%2Faccount%2Foverview%2F" id="header-login-link" class="user-link ">
                        <span class="user-text navbar-user-text">Log In</span>

                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
