<%= @brewery.name %>
<form  action="/breweries/<%= @brewery.id %>/edit" method="POST">
   <div class="form-group">
      <label for="BrewName">Brewery Name</label>
      <input type="text" name="brew_name" class="form-control" placeholder="Brewery Name"/>
   </div>
   <div class="form-group">
      <label for="BrewLocation">Brewery City</label>
      <input type="text" name="brew_city" class="form-control" placeholder="City"/>
   </div>
   <div class="form-group">
      <label for="BrewLocation">Brewery State</label>
      <input type="text" name="brew_state" class="form-control" placeholder="State Abbreviation"/>
   </div>
   <div class="form-group" rows="3">
      <label for="BrewNotes">Notes</label>
      <input type="text" name="brew_notes" class="form-control" placeholder="Anything of note?"/>
   </div>
   <button type="submit" class="btn btn-success">Submit</button>
</form>
